@charset "UTF-8";
/* selector universal  */
@import url("https://fonts.googleapis.com/css2?family=Anybody:wght@200&family=Asap:ital@1&family=Dancing+Script:wght@700&family=Nunito+Sans:wght@700&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*VARIABLES GLOBALES*/
.configBasica_GridPage, .cartelera .contenedor-cartelera {
  margin: 25px auto;
  width: 1600px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.401); }

.config-titulo-importante1, .homepage .bloque-mas-info .textos-varios .titulo-importante1, .cartelera .titulo-importante1, .combos .titulo-importante1, .titulos .titulo-importante1, .proximos-estrenos .titulo-importante1 {
  text-align: left;
  color: #dffffb;
  margin: 50px;
  padding-top: 30px; }

.config-titulo-importante4, .cartelera .contenedor-cartelera .film .info-pelicula .titulo-importante4, .combos .contenedor-combos .film .info-combo .titulo-importante4, .proximos-estrenos .contenedor-proximos-estrenos .film .info-pelicula .titulo-importante4 {
  text-align: left;
  color: #e30a0a;
  margin: 10px; }

.nav-encabezado {
  min-height: 15vh;
  background-image: url("../recursos/inicio/portadaCine.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 10px solid #0b0606;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: baseline;
  align-items: flex-start;
  align-content: space-between; }
  .nav-encabezado .encabezado-cuerpo .logo-img img {
    height: 12vh; }
  .nav-encabezado .encabezado-cuerpo .mi-navbar .lista-enlaces .enlace a {
    text-decoration: none;
    color: #dffffb;
    font-size: 20px;
    margin: 15px; }
    .nav-encabezado .encabezado-cuerpo h1 {
      color: #ebd219;
      background-color: transparent;
      font-weight: bold; }
      .nav-encabezado .encabezado-cuerpo h2 {
        color: #ebd219;
        background-color: transparent;
        font-weight: bold; }
  

/* MEDIA QUERIES*/
@media (min-width: 600) and (max-width: 1000) {
  .nav-encabezado .encabezado-cuerpo .mi-navbar .lista-enlaces .enlace a {
    font-size: 15px; } }

@media (min-width: 350px) and (max-width: 599px) {
  .nav-encabezado .encabezado-cuerpo .mi-navbar .lista-enlaces .enlace a {
    font-size: 12px; } }

@media (max-width: 349px) {
  .nav-encabezado .encabezado-cuerpo .mi-navbar .lista-enlaces .enlace a {
    font-size: 10px; } }

.pie {
  padding-bottom: 20px;
  background-image: linear-gradient(to right, #290101, #510101, #790101, #a10101);
  border-top: 10px solid #0b0606;
  min-height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start; }
  .pie .bloque-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-between;
    padding-left: 200px; }
    .pie .bloque-footer .bloque-mas-info1 .titulo-importante2 {
      text-align: left;
      font-size: 25px;
      font-family: "Nunito Sans", sans-serif;
      text-decoration: underline;
      color: #dffffb;
      margin: 30px; }
    .pie .bloque-footer .bloque-mas-info1 .lista1 {
      max-width: 200px;
      color: #dffffb; }
    .pie .bloque-footer .bloque-mas-info2 {
      padding-left: 150px; }
      .pie .bloque-footer .bloque-mas-info2 .titulo-importante2 {
        text-align: left;
        font-size: 25px;
        font-family: "Nunito Sans", sans-serif;
        text-decoration: underline;
        color: #dffffb;        
        margin: 30px; }
      .pie .bloque-footer .bloque-mas-info2 .lista2 {
        max-width: 180px; 
        color: #dffffb;}
    .pie .bloque-footer .redes-sociales {
      padding-left: 150px;
      padding-top: 75px;
      text-align: center;
      color: blue;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: space-between; }
      .pie .bloque-footer .redes-sociales a {
        color: blue;
        font-size: 35px;
        margin: 15px 15px;
        padding-left: 50px; }
        .pie .bloque-footer .redes-sociales a:hover {
          color: #333;
          font-size: 40px; }
      .pie .bloque-footer .redes-sociales button {
        font-size: 15px;
        margin: 15px 15px;
        padding-left: 50px; }
        .pie .bloque-footer .redes-sociales button:hover {
          font-size: 20px; }
      .pie .bloque-footer .redes-sociales .btn-secondary {
        background-color: blueviolet; }

/* MEDIA QUERIES*/
@media (min-width: 1012px) and (max-width: 1400px) {
  .pie .bloque-footer {
    padding-left: 150px; }
    .pie .bloque-footer .bloque-mas-info1 {
      padding-left: 150px; }
      .pie .bloque-footer .bloque-mas-info1 .titulo-importante2 {
        margin: 20px; }
    .pie .bloque-footer .bloque-mas-info2 {
      padding-left: 150px; }
      .pie .bloque-footer .bloque-mas-info2 .titulo-importante2 {
        margin: 20px; } }

@media (min-width: 685px) and (max-width: 1011px) {
  .pie .bloque-footer {
    padding-left: 100px; }
    .pie .bloque-footer .bloque-mas-info1 {
      padding-left: 100px; }
      .pie .bloque-footer .bloque-mas-info1 .titulo-importante2 {
        margin: 15px; }
    .pie .bloque-footer .bloque-mas-info2 {
      padding-left: 100px; }
      .pie .bloque-footer .bloque-mas-info2 .titulo-importante2 {
        margin: 15px; }
    .pie .bloque-footer .redes-sociales {
      padding-left: 50px; } }

@media (min-width: 530px) and (max-width: 684px) {
  .pie .bloque-footer {
    padding-left: 50px; }
    .pie .bloque-footer .bloque-mas-info1 {
      padding-left: 50px; }
      .pie .bloque-footer .bloque-mas-info1 .titulo-importante2 {
        margin: 10px; }
    .pie .bloque-footer .bloque-mas-info2 {
      padding-left: 50px; }
      .pie .bloque-footer .bloque-mas-info2 .titulo-importante2 {
        margin: 10px; }
    .pie .bloque-footer .redes-sociales {
      padding-left: 0px; } }

@media (min-width: 400px) and (max-width: 529px) {
  .pie .bloque-footer {
    padding-left: 50px; }
    .pie .bloque-footer .titulo-importante2 {
      margin: 5px; }
    .pie .bloque-footer .bloque-mas-info1 {
      padding-left: 50px; }
    .pie .bloque-footer .bloque-mas-info2 {
      padding-left: 50px; }
    .pie .bloque-footer .redes-sociales {
      padding-left: 0px; }
      .pie .bloque-footer .redes-sociales a {
        font-size: 35px;
        margin: 10px 10px;
        padding-left: 38px; } }

@media (max-width: 399px) {
  .pie .bloque-footer {
    padding-left: 25px; }
    .pie .bloque-footer .titulo-importante2 {
      margin: 2px; }
    .pie .bloque-footer .bloque-mas-info1 {
      padding-left: 25px; }
    .pie .bloque-footer .bloque-mas-info2 {
      padding-left: 25px; }
    .pie .bloque-footer .redes-sociales {
      padding-left: 0px; }
      .pie .bloque-footer .redes-sociales a {
        font-size: 35px;
        margin: 10px 10px;
        padding-left: 38px; } }

.cartelera {
  background-color: #c04338;
  min-height: 70vh; }
  .cartelera .titulo-importante1 {
    font-weight: bold;
    font-size: 80px;
    font-family: "Black Han Sans", sans-serif; }
  .cartelera .contenedor-cartelera {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "film1 film2 film3"
 "film4 film5 film6"
 "film7 film8 film9";
    height: 1600px; }
    .cartelera .contenedor-cartelera .film1 {
      grid-area: film1; }
    .cartelera .contenedor-cartelera .film2 {
      grid-area: film2; }
    .cartelera .contenedor-cartelera .film3 {
      grid-area: film3; }
    .cartelera .contenedor-cartelera .film4 {
      grid-area: film4; }
    .cartelera .contenedor-cartelera .film5 {
      grid-area: film5; }
    .cartelera .contenedor-cartelera .film6 {
      grid-area: film6; }
    .cartelera .contenedor-cartelera .film7 {
      grid-area: film7; }
    .cartelera .contenedor-cartelera .film8 {
      grid-area: film8; }
    .cartelera .contenedor-cartelera .film9 {
      grid-area: film9; }
    .cartelera .contenedor-cartelera .film .imgfilm {
      float: left;
      margin: 5px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: 0.5s; }
      .cartelera .contenedor-cartelera .film .imgfilm:hover {
        transform: scale(1.1); }
    .cartelera .contenedor-cartelera .film .info-pelicula .titulo-importante4 {
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      font-family: Arial, Helvetica, sans-serif; }
    .cartelera .contenedor-cartelera .film .info-pelicula .genero-pelicula {
      padding: 10px; }
      .cartelera .contenedor-cartelera .film .info-pelicula .genero-pelicula:hover {
        text-shadow: 1px 1px 1px black, 0 0 1em black, 0 0 0.2em black; }
    .cartelera .contenedor-cartelera .film .info-pelicula .resumen-pelicula {
      padding: 10px; }

/* MEDIA QUERIES*/
@media (min-width: 1400px) and (max-width: 1600px) {
  .cartelera .titulo-importante1 {
    font-size: 70px; }
  .cartelera .contenedor-cartelera {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "film1 film2"
 "film3 film4"
 "film5 film6"
 "film7 film8"
 "film9 film9";
    width: 1400px;
    height: auto; } }

@media (min-width: 1200px) and (max-width: 1399px) {
  .cartelera .titulo-importante1 {
    font-size: 70px; }
  .cartelera .contenedor-cartelera {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: "film1"
 "film2"
 "film3"
 "film4"
 "film5"
 "film6"
 "film7"
 "film8"
 "film9";
    width: 1200px;
    height: auto; } }

@media (min-width: 600px) and (max-width: 1199px) {
  .cartelera .titulo-importante1 {
    font-size: 60px; }
  .cartelera .contenedor-cartelera {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: "film1"
 "film2"
 "film3"
 "film4"
 "film5"
 "film6"
 "film7"
 "film8"
 "film9";
    width: 600px;
    height: auto; }
    .cartelera .contenedor-cartelera .film .info-pelicula .titulo-importante4 {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif; }
    .cartelera .contenedor-cartelera .film .imgfilm {
      max-width: 500px; } }

@media (min-width: 400px) and (max-width: 599px) {
  .cartelera .titulo-importante1 {
    font-size: 50px; }
  .cartelera .contenedor-cartelera {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: "film1"
 "film2"
 "film3"
 "film4"
 "film5"
 "film6"
 "film7"
 "film8"
 "film9";
    width: 400px;
    height: auto; }
    .cartelera .contenedor-cartelera .film .info-pelicula .titulo-importante4 {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif; }
    .cartelera .contenedor-cartelera .film .info-pelicula .genero-pelicula {
      font-size: 15px; }
    .cartelera .contenedor-cartelera .film .info-pelicula .resumen-pelicula {
      font-size: 15px; }
    .cartelera .contenedor-cartelera .film .imgfilm {
      max-width: 300px; } }

@media (min-width: 350px) and (max-width: 399px) {
  .cartelera .titulo-importante1 {
    font-size: 40px; }
  .cartelera .contenedor-cartelera {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: "film1"
 "film2"
 "film3"
 "film4"
 "film5"
 "film6"
 "film7"
 "film8"
 "film9";
    width: 350px;
    height: auto; }
    .cartelera .contenedor-cartelera .film .info-pelicula .titulo-importante4 {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif; }
    .cartelera .contenedor-cartelera .film .info-pelicula .genero-pelicula {
      font-size: 15px; }
    .cartelera .contenedor-cartelera .film .info-pelicula .resumen-pelicula {
      font-size: 15px; }
    .cartelera .contenedor-cartelera .film .imgfilm {
      max-width: 300px; } }

@media (min-width: 300px) and (max-width: 349px) {
  .cartelera .titulo-importante1 {
    font-size: 30px; }
  .cartelera .contenedor-cartelera {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: "film1"
 "film2"
 "film3"
 "film4"
 "film5"
 "film6"
 "film7"
 "film8"
 "film9";
    width: 310px;
    height: auto; }
    .cartelera .contenedor-cartelera .film .info-pelicula .titulo-importante4 {
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      font-family: Arial, Helvetica, sans-serif; }
    .cartelera .contenedor-cartelera .film .info-pelicula .genero-pelicula {
      font-size: 13px; }
    .cartelera .contenedor-cartelera .film .info-pelicula .resumen-pelicula {
      font-size: 13px; }
    .cartelera .contenedor-cartelera .film .imgfilm {
      max-width: 250px; } }

@media (max-width: 299px) {
  .cartelera .titulo-importante1 {
    font-size: 30px; }
  .cartelera .contenedor-cartelera {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: "film1"
 "film2"
 "film3"
 "film4"
 "film5"
 "film6"
 "film7"
 "film8"
 "film9";
    width: 230px;
    height: auto; }
    .cartelera .contenedor-cartelera .film .info-pelicula .titulo-importante4 {
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      font-family: Arial, Helvetica, sans-serif; }
    .cartelera .contenedor-cartelera .film .info-pelicula .genero-pelicula {
      font-size: 13px; }
    .cartelera .contenedor-cartelera .film .info-pelicula .resumen-pelicula {
      font-size: 13px; }
    .cartelera .contenedor-cartelera .film .imgfilm {
      max-width: 200px; } }


